node_modules/
.DS_Store
Thumbs.db
.vercel
*.local
.env
.env.*
gh-auth-*.txt
data/_extract/
data/_extract_obs/
data/_extract_cir/
data/_extract_reu/
data/_extract_psi/
data/_extract_pneumo/
data/_extract_neuro/
data/_extract_nefro/
data/_extract_infecto/
data/_extract_hepato/
data/_extract_hemato/
data/_extract_endo/
